.layout-style-number3 {
  background: transparent;
  margin: 0 100px;
}
.form-number3 {
  border: 1px solid black;
  padding: 0.5rem;
  border-radius: 10px;
}

.btn-form{
    background-color: white;
    color: black;
}